<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
  <add name="DefaultConnection" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;C:\Проекты VS\ПРОЕКТ2\ПРОЕКТ2\DB1.mdf&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>

</configuration>